<DOCTYPE html>
<html lang="en">

<head>
	<title>Counties</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
	<meta name="viewport content = "width-device-width, initial-scale=1.0">
</head>

<body class="body">
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="/overlay/">Home</a></li>        <!-- These links need to be filled in -->
				<li><a href="/overlay/custom/">Charts</a></li>
				<li><a href="/overlay/RSS/">RSS</a></li>
				<li><a href="/overlay/test/">TESTING</a></li>
			</ul>
		</div>
		
	  	<div class="years">
	  	
	  	<form name="options" action="/overlay/results/" method="POST">
			{% csrf_token %}
			{% if c_list %}
				{% for Births in c_list %}
					<input type="checkbox" name="counties" id="forloop.counter" value="{{ Births.county }}" />
					<label for="{{ Births.county }}">{{ Births.county }}</label><br />
				{% endfor %}
			{% endif %}
			
			{% if y_list %}
				{% for Births in y_list %}
					<input type="checkbox" name="years" id="forloop.counter" value="{{ Births.year }}" />
					<label for="{{ Births.year }}">{{ Births.year }}</label><br />
				{% endfor %}
			{% endif %}
			
			{% if names %}
			{% for i in dict %}
				<input type="checkbox" name="attributes" id="forloop.counter" value="{{ i.0 }}" />
				<label for="{{ i.0 }}">{{ i.0 }}</label><br />
			{% endfor %}
			{% endif %}
			
		<input type="submit" value="Results" />
		</form>
    		
		</div>
		</div>
		<div id="footer">
		</div>
		</div>
	  
  </body>
</html>
