{% load nvd3_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planned Parenthood</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% include_chart_jscss %}
    {% load_chart charttype chartdata "linewithfocuschart_container" True "%d %b %Y %H" %}
</head>
  </head>
  
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="/overlay/">Home</a></li>
				<li><a href="/overlay/checks/">Checks</a></li>
				<li><a href="/overlay/custom/">Charts</a></li>
				<li><a href="/overlay/upload/">Upload</a></li>
				<li><a href="/overlay/RSS/">RSS</a></li>
				<li><a href="/overlay/test/">TESTING</a></li>
			</ul>
		</div>
	  	<div class="graph">
			   {% include_container "linewithfocuschart_container" 400 '100%' %}
		</div>
		</div>
	  <div id="footer">
		</div>
	  </div>
  </body>
