<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Planned Parenthood</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
  </head>
  
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="filler">Home</a></li>        <!-- These links need to be filled in -->
				<li><a href="filler">Graphs</a></li>
				<li><a href="filler">Charts</a></li>
				<li><a href="filler">Map</a></li>
				<li><a href="filler">Resources</a></li>
			</ul>
		</div>
		<div class="tilegrid">
		  <div class="tiletop">
			  <a href="">
				  <img src="{% static "imgs/graph.png" %}" alt="Picture of Rango"/>
			  </a>
		  </div>
		  
		  <div class="tiletop">
			  <a href="">
				  <img src="{% static "imgs/graph.png" %}" alt="Picture of Rango"/>
			  </a>
		  </div>
		  
		  <div class="tiletop">
			  <a href="">
				  <img src="{% static "imgs/graph.png" %}" alt="Picture of Rango"/>
			  </a>
		  </div>
		  
		  <div class="tilebottom">
			  <a href="">
				  <img src="{% static "imgs/graph.png" %}" alt="Picture of Rango"/>
			  </a>
		  </div>
		  
		  <div class="tilebottom">
		      <a href="">
				  <img src="{% static "imgs/graph.png" %}" alt="Picture of Rango"/>
			  </a>
		  </div>
		  
		  <div class="tilebottom">
		      <a href="">
				  <img src="{% static "imgs/graph.png" %}" alt="Picture of Rango"/>
			  </a>
		  </div>
		  
	  </div>
	  </div>
		<div id="footer">
		</div>
	</div>		
  </body>
</html>
