<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planned Parenthood</title>
    <link type="css/text" rel="stylesheet" href="stylesheet.css"/>
  </head>
  
  <body>
	 <div id="background">
	 <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="/overlay/">Home</a></li>        <!-- These links need to be filled in -->
				<li><a href="/overlay/custom/">Charts</a></li>
				<li><a href="/overlay/RSS/">RSS</a></li>
				<li><a href="/overlay/test/">TESTING</a></li>
			</ul>
		</div>
		<div class="RSS">
			<script id="feed-1396028853839794" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Ffeeds.bbci.co.uk%2Fnews%2Frss.xml%3Fedition%3Dus&detail=100&showtitle=false&type=js&id=1396028853839794"></script>
		<div>
		  
	  </div>
	  </div>
		<div id="footer">
		</div>
	</div>
	</div>		
  </body>
</html>
