<!DOCTYPE html>
<html>
<head> <meta charset="UTF-8"> </head>
<title> Super Ultra Basic HTML File </title>
<body>
	<form action="./superultrabasichtmlfile.html" method="post">
	<br>Subject:
	    <input type="text" name="subject" maxlength="100" />
	    
	<br>Message:
	    <input type="text" name="message" />
	    
	<br>Sender:
	    <input type="text" name="sender" />
	    
	<br>Cc myself:
	    <input type="checkbox" name="cc_myself"/>
	 
	<br>
	<input type="submit" value="Submit" />
	</form>
</body>