<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planned Parenthood</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
  </head>
  
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="/overlay/">Home</a></li>
				<li><a href="/overlay/checks/">Graphs</a></li>
				<li><a href="/overlay/upload/">Upload</a></li>
			</ul>
		</div>
		<div class="table">
			<table id="mytable">
				<tr>

				  <th scope="col" >Level</th>
				  <th scope="col" >Births</th>  
				</tr>
				{% for i in da_list %}
					<tr>
						<td>{{ i.0 }}</td>
						<td>{{ i.1 }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		</div>
	  <div id="footer">
		</div>
	  </div>
  </body>
</html>
