<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planned Parenthood</title>
    <link type="css/text" rel="stylesheet" href="stylesheet.css"/>
  </head>
  
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="filler">Home</a></li>
				<li><a href="filler">Charts</a></li>
				<li><a href="filler">Resources</a></li>
			</ul>
		</div>
	  	<div class="graph">
			
		</div>
		
		<b><font size=20>FOR TESTING PURPOSES ONLY</b></font size>
		<p></p>
		<p></p>
		<li><b>Selected County:</b> {{county}}</li>
		<p></p>
		<li><b>Selected Year:</b> {{year}}</li>
		<p></p>
		<li><b>Field:</b> {{field}}</li>
		<p></p>
		<li><b>Field Options:</b> {{options}}</li>
		<p></p>
		<li><b>List of Data:</b> {{data}}</li>
		<p></p>
		<li><b>Range:</b> {{range}}</li>
		<p></p>
		<li><b>Da List:</b> {{da_list}}</li>
		
		<table style="width:300px">
		{% for i in da_list %}
			<tr>
				<td>{{ i.0 }}</td>
				<td>{{ i.1 }}</td>
			</tr>
		{% endfor %}
		</table>
		
		<div id="footer">
		</div>
		</div>
  </body>
</html>
