<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Planned Parenthood</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
  </head>
  
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="/overlay/">Home</a></li>
				<li><a href="/overlay/checks/">Checks</a></li>
				<li><a href="/overlay/custom/">Charts</a></li>
				<li><a href="/overlay/upload/">Upload</a></li>
				<li><a href="/overlay/RSS/">RSS</a></li>
				<li><a href="/overlay/test/">TESTING</a></li>
			</ul>
		</div>
		
		<div>
		
		STUFF GOES HERE
		
		</div>
		
		
	</div>
		<div id="footer">
		</div>
	</div>		
  </body>
</html>