<DOCTYPE html>
<html lang="en">

<head>
	<title>Counties</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
	<meta name="viewport content = "width-device-width, initial-scale=1.0">
</head>

<body class="body">
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="filler">Home</a></li>        <!-- These links need to be filled in -->
				<li><a href="filler">Graphs</a></li>
				<li><a href="filler">Charts</a></li>
				<li><a href="filler">Map</a></li>
				<li><a href="filler">Resources</a></li>
			</ul>
		</div>
	  	<div class="years">
		{% if my_list %}
    		<ul>
    			{% for Births in my_list %}
       				 <li><a href="/overlay/{{ Births.county }}/{{Births.year}}">{{ Births.year }}</a></li>
				{% endfor %}
    		</ul>
		</div>
		</div>
		<div id="footer">
		</div>
		</div>
	  
  </body>
</html>
