<DOCTYPE html>
<html lang="en">

<head>
	<title>Counties</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
	<meta name="viewport content = "width-device-width, initial-scale=1.0">
</head>

<body class="body">
	
{% if names %}
    <ul>
    {% for i in dict %}
        {% if i.0 != "County" %}
			{% if i.0 != "Year" %}
				{% if i.0 != "Id" %}
					{% if i.0 != "Source" %}
						<li><a href="/overlay/custom/{{county}}/{{year}}/{{ i.1 }}">{{ i.0 }}</a></li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
    </ul>
{% endif %}
	
	<footer class="footer">
		<p>copyright &copy 2014</p>
	</footer>
	
</body>
</html>
