<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planned Parenthood</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
  </head>
  
  <body>
	  <div id="background">
	  <div id="wrapper"> 
		<div id="banner">
			<img src="http://www.plannedparenthood.org/images/pp.gif"/>
		</div>
		<div class="main_nav">
			<ul id="nav">
				<li><a href="filler">Home</a></li>        <!-- These links need to be filled in -->
				<li><a href="filler">Graphs</a></li>
				<li><a href="filler">Charts</a></li>
				<li><a href="filler">Map</a></li>
				<li><a href="filler">Resources</a></li>
			</ul>
		</div>
		<div class="tilegrid">
		  <div class="tiletop">
			  <a href="">
				  <img src="imgs/gr"/>
			  </a>
		  </div>
		  
		  <div class="tiletop">
			  <a href="">
				  <img src="https://mail.google.com/mail/u/1/?ui=2&ik=71417327f4&view=fimg&th=14505ec712336ba4&attid=0.1&disp=inline&realattid=f_htaorpt50&safe=1&attbid=ANGjdJ9BUCAKQmFK7AOdOl3l8Jd9iw2OLn3A0iApw9L4XozNBMkOW2zoPv0iBZ8m3Q8twdtyF_60-bsmk3AnwvZGkNopT9nOhW2Qjvx4ELFQHTQePW4RG9Ba0kHfaeQ&ats=1395963757561&rm=14505ec712336ba4&zw&sz=w1328-h588"/>
			  </a>
		  </div>
		  
		  <div class="tiletop">
			  <a href="">
				  <img src="https://mail.google.com/mail/u/1/?ui=2&ik=71417327f4&view=fimg&th=14505ec712336ba4&attid=0.1&disp=inline&realattid=f_htaorpt50&safe=1&attbid=ANGjdJ9BUCAKQmFK7AOdOl3l8Jd9iw2OLn3A0iApw9L4XozNBMkOW2zoPv0iBZ8m3Q8twdtyF_60-bsmk3AnwvZGkNopT9nOhW2Qjvx4ELFQHTQePW4RG9Ba0kHfaeQ&ats=1395963757561&rm=14505ec712336ba4&zw&sz=w1328-h588"/>
			  </a>
		  </div>
		  
		  <div class="tilebottom">
			  <a href="">
				  <img src="https://mail.google.com/mail/u/1/?ui=2&ik=71417327f4&view=fimg&th=14505ec712336ba4&attid=0.1&disp=inline&realattid=f_htaorpt50&safe=1&attbid=ANGjdJ9BUCAKQmFK7AOdOl3l8Jd9iw2OLn3A0iApw9L4XozNBMkOW2zoPv0iBZ8m3Q8twdtyF_60-bsmk3AnwvZGkNopT9nOhW2Qjvx4ELFQHTQePW4RG9Ba0kHfaeQ&ats=1395963757561&rm=14505ec712336ba4&zw&sz=w1328-h588"/>
			  </a>
		  </div>
		  
		  <div class="tilebottom">
		      <a href="">
				  <img src="https://mail.google.com/mail/u/1/?ui=2&ik=71417327f4&view=fimg&th=14505ec712336ba4&attid=0.1&disp=inline&realattid=f_htaorpt50&safe=1&attbid=ANGjdJ9BUCAKQmFK7AOdOl3l8Jd9iw2OLn3A0iApw9L4XozNBMkOW2zoPv0iBZ8m3Q8twdtyF_60-bsmk3AnwvZGkNopT9nOhW2Qjvx4ELFQHTQePW4RG9Ba0kHfaeQ&ats=1395963757561&rm=14505ec712336ba4&zw&sz=w1328-h588"/>
			  </a>
		  </div>
		  
		  <div class="tilebottom">
		      <a href="">
				  <img src="https://mail.google.com/mail/u/1/?ui=2&ik=71417327f4&view=fimg&th=14505ec712336ba4&attid=0.1&disp=inline&realattid=f_htaorpt50&safe=1&attbid=ANGjdJ9BUCAKQmFK7AOdOl3l8Jd9iw2OLn3A0iApw9L4XozNBMkOW2zoPv0iBZ8m3Q8twdtyF_60-bsmk3AnwvZGkNopT9nOhW2Qjvx4ELFQHTQePW4RG9Ba0kHfaeQ&ats=1395963757561&rm=14505ec712336ba4&zw&sz=w1328-h588"/>
			  </a>
		  </div>
		  
	  </div>
	  </div>
		<div id="footer">
		</div>
	</div>		
  </body>
</html>
